<mat-card>

  <mat-tab-group animationDuration="1ms" staticHeight>
    <mat-tab label="Objects to sell">
      <mat-form-field>
        <input matInput placeholder="List Name" name="name" [(ngModel)]="todoList.name" (ngModelChange)="onListUpdate()">
      </mat-form-field>
      <!-- Button to delete list -->
      <button mat-flat-button color="warn" (click)="onListDelete()" [disabled]="todoList.todoItems.length != 0">
        Delete list
      </button>
    </mat-tab>
    <mat-tab label=" lended objects">
      <mat-form-field>
        <input matInput placeholder="List Name" name="name" [(ngModel)]="todoList.name" (ngModelChange)="onListUpdate()">
      </mat-form-field>
      <!-- Button to delete list -->
      <button mat-flat-button color="warn" (click)="onListDelete()" [disabled]="todoList.todoItems.length != 0">
        Delete list
      </button>
    </mat-tab>
    <mat-tab label="sold objects">
      <mat-form-field>
        <input matInput placeholder="List Name" name="name" [(ngModel)]="todoList.name" (ngModelChange)="onListUpdate()">
      </mat-form-field>
      <!-- Button to delete list -->
      <button mat-flat-button color="warn" (click)="onListDelete()" [disabled]="todoList.todoItems.length != 0">
        Delete list
      </button>
    </mat-tab>
    <mat-tab label="purchased objects">
      <mat-form-field>
        <input matInput placeholder="List Name" name="name" [(ngModel)]="todoList.name" (ngModelChange)="onListUpdate()">
      </mat-form-field>
      <!-- Button to delete list -->
      <button mat-flat-button color="warn" (click)="onListDelete()" [disabled]="todoList.todoItems.length != 0">
        Delete list
      </button>
    </mat-tab>

  </mat-tab-group>

</mat-card>
