<mat-card>

    <mat-tab-group animationDuration="1ms" staticHeight>
      <mat-tab label="Products">
        <div *ngFor="let product of prod">
          <mat-card> 
            <h2>
                {{ product.productType }}: {{ product.productTitle }}
            </h2>
            <h2>
              Price: {{ product.productPrice | number: '1.2-2'}}CHF
            </h2>
        
            <p *ngIf="product.productDescription">
              Description: {{ product.productDescription }}
            </p>
            <p *ngIf="product.productLocation">
              Location: {{ product.productLocation }}
            </p>
          </mat-card>
        </div>
        <div *ngIf="prod.length === 0">No Products to be reviewed.</div>
      </mat-tab>
  
      <mat-tab label="Services">
        <div *ngFor="let product of prod">
          <mat-card>
            <h2>
                {{ product.productType }}: {{ product.productTitle }}
            </h2>
            <h2>
              Price: {{ product.productPrice | number: '1.2-2'}}CHF
            </h2>
        
            <p *ngIf="product.productDescription">
              Description: {{ product.productDescription }}
            </p>
            <p *ngIf="product.productLocation">
              Location: {{ product.productLocation }}
            </p>
          </mat-card>
        </div>
        <div *ngIf="prod.length === 0">No Products to be reviewed.</div>
      </mat-tab>
  
    </mat-tab-group>
  
  </mat-card>