<mat-card>

    <mat-tab-group animationDuration="1ms" staticHeight>
      <mat-tab label="Products">
        <div *ngFor="let product of prodPro">
          <mat-card> 
            <h2>
               {{ product.productTitle }}
            </h2>
          
            <p *ngIf="product.productDescription">
              Description: {{ product.productDescription }}
            </p>
            <p *ngIf="product.productLocation">
              Address: {{ product.productLocation }}
            </p>

            <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

            <p></p>

            <p *ngIf="product.productToLend == true; then thenBlock2 else elseBlock2"></p>
            <ng-template #thenBlock2> To Lend: This is a Service to lend </ng-template>
            <ng-template #elseBlock2> To buy: This is a Service to buy once </ng-template>

            <p></p>

            <h2>
              Price: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProd(product)">Buy</button>
            </h2>

          </mat-card>
        </div>
        <div *ngIf="prodPro.length === 0">No Products to be reviewed.</div>
      </mat-tab>
  
      <mat-tab label="Services">
        <div *ngFor="let product of prodServ">
          <mat-card>
            <h2>
                {{ product.productTitle }}
            </h2>
            
            <p *ngIf="product.productDescription">
              Description: {{ product.productDescription }}
            </p>
            <p *ngIf="product.productLocation">
              Address: {{ product.productLocation }}
            </p>

            <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

            <p></p>

            <p *ngIf="product.productToLend == true; then thenBlock2 else elseBlock2"></p>
            <ng-template #thenBlock2> To Lend: This is a Service to lend </ng-template>
            <ng-template #elseBlock2> To buy: This is a Service to buy once </ng-template>

            <p></p>

            <h2 *ngIf="product.productToLend == true; then thenBlock3 else elseBlock3"></h2>
            <ng-template #thenBlock3> <h2> Price per Hour: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProd(product)">Buy</button> </h2> </ng-template>
            <ng-template #elseBlock3> <h2> Price: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProd(product)">Buy</button> </h2> </ng-template>

          </mat-card>
        </div>
        <div *ngIf="prodServ.length === 0">No Products to be reviewed.</div>
      </mat-tab>

	<mat-tab label="Search">
		<mat-form-field>
			<input matInput placeholder="Search" [(ngModel)]="search" name="search">
		</mat-form-field>
		<button mat-flat-button color="primary" (click)="searchProd()">Search</button>
		<br />
		<p>Filters</p>
		<mat-form-field>
			<input matInput placeholder="Location" [(ngModel)]="location" name="location">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Price" [(ngModel)]="price" name="price">
		</mat-form-field>
		<br />
		
	</mat-tab>
  
    </mat-tab-group>
  
  </mat-card>