<mat-card>

    <mat-tab-group animationDuration="1ms" staticHeight>
      <mat-tab label="Products">
        <div *ngFor="let product of productsData">
          <mat-card> 
            <h2>
               {{ product.productTitle }} <button mat-mini-fab color="accent" aria-label="Example icon button with a heart icon" > <mat-icon>heart</mat-icon></button>
            </h2>
          
            <p *ngIf="product.productDescription">
              Description: {{ product.productDescription }}
            </p>
            <p *ngIf="product.productLocation">
              Address: {{ product.productLocation }}
            </p>

            <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

            <p></p>

            <p *ngIf="product.productToLend == true; then thenBlock1 else elseBlock1"></p>
            <ng-template #thenBlock1> To Lend: This is a Product to lend </ng-template>
            <ng-template #elseBlock1> To buy: This is a Product to buy once </ng-template>

            <p></p>

            <h2>
              Price: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProd(product)">Buy</button>
            </h2>

          </mat-card>
        </div>
        <div *ngIf="productsData.length === 0">No Products available.</div>
      </mat-tab>
  
      <mat-tab label="Services">
        <div *ngFor="let product of servicesData">
          <mat-card>
            <h2>
                {{ product.productTitle }}
            </h2>
            
            <p *ngIf="product.productDescription">
              Description: {{ product.productDescription }}
            </p>
            <p *ngIf="product.productLocation">
              Address: {{ product.productLocation }}
            </p>

            <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

            <p></p>

            <p *ngIf="product.productToLend == true; then thenBlock2 else elseBlock2"></p>
            <ng-template #thenBlock2> To Lend: This is a Service to lend </ng-template>
            <ng-template #elseBlock2> To buy: This is a Service to buy once </ng-template>

            <p></p>

            <h2 *ngIf="product.productToLend == true; then thenBlock3 else elseBlock3"></h2>
            <ng-template #thenBlock3> <h2> Price per Hour: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProdServ(product)">Buy</button> </h2> </ng-template>
            <ng-template #elseBlock3> <h2> Price: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProdServ(product)">Buy</button> </h2> </ng-template>

          </mat-card>
        </div>
        <div *ngIf="servicesData.length === 0">No Service available.</div>
      </mat-tab>

	<mat-tab label="Search">
		<mat-form-field>
			<input matInput placeholder="Search" [(ngModel)]="search" name="search">
		</mat-form-field>
		<button mat-flat-button color="primary" (click)="searchProd()">Search</button>
		<br />
		<p>Filters</p>
		<mat-form-field>
			<input matInput placeholder="Location" [(ngModel)]="wantedLocation" name="location">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Price from" [(ngModel)]="price_min" name="price_min">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="to" [(ngModel)]="price_max" name="price_max">
		</mat-form-field>
		<p>Product Type</p>
	    <div class="custom-control custom-radio" >
	      <input id="product" type="radio" class="custom-control-input" value="product" name="wantedType" [(ngModel)]="wantedType">
	    <label class="custom-control-label" for="product">product </label></div>
	    <div class= "custom-control custom-radio" >
	      <input id="service" type="radio" class="custom-control-input" value="service" name="wantedType" [(ngModel)]="wantedType">
	      <label class="custom-control-label" for="service">service </label>
	    </div>
		<br />
		<p>Delivery Option</p>
		<div class="custom-control custom-radio" >
	      <input id="delivery" type="radio" class="custom-control-input2" value= "true" name="delivery" [(ngModel)]="deliveryOnly">
	    <label class="custom-control-label" for="delivery">Delivery only</label></div>
		
		<!-->
		<div class="custom-control custom-radio" >
	      <input id="pickUp" type="radio" class="custom-control-input2" value= "false"  name="delivery" [(ngModel)]="deliveryOnly">
	    <label class="custom-control-label" for="pickUp">Delivery or Pick Up</label></div>  
		<!-->
	    
		<br />
		<div *ngFor="let product of searchData">
			<mat-card *ngIf="product.productTitle.toLowerCase().includes(search.toLowerCase()) && (deliveryOnly == false  || product.deliveryPossible == true)">
				<h2>
	                {{ product.productTitle }}
	            </h2>
	            
	            <p *ngIf="product.productDescription">
	              Description: {{ product.productDescription }}
	            </p>
	            <p *ngIf="product.productLocation">
	              Address: {{ product.productLocation }}
	            </p>

				
	            <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
	            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
	            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>
	
	            <p></p>
	
	            <p *ngIf="product.productToLend == true; then thenBlock2 else elseBlock2"></p>
	            <ng-template #thenBlock2> To Lend: This is a Service to lend </ng-template>
	            <ng-template #elseBlock2> To buy: This is a Service to buy once </ng-template>
	
	            <p></p>
	
	            <h2 *ngIf="product.productToLend == true; then thenBlock3 else elseBlock3"></h2>
	            <ng-template #thenBlock3> <h2> Price per Hour: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProdServ(product)">Buy</button> </h2> </ng-template>
	            <ng-template #elseBlock3> <h2> Price: {{ product.productPrice | number: '1.2-2'}}CHF <button mat-flat-button color="primary" (click)="buyProdServ(product)">Buy</button> </h2> </ng-template>
	
						
			</mat-card>
		</div>
		<div *ngIf="searchData.length === 0">No matching product/service found</div>
		
	</mat-tab>
  
    </mat-tab-group>
  
  </mat-card>