<mat-card>
  <mat-tab-group animationDuration="1ms" staticHeight>
    <mat-tab label="User Data">
      <div>
        <div >
          <h2>Username: {{currentUserName}}</h2>
        </div>
        <div>
          Email: {{currentUser.userMail}}
        </div><br />
        <div>
          Firstname:{{currentUser.userFirstName}} , Lastname: {{currentUser.userLastName}}
        </div><br />
        <div>
          <h3>Adress</h3>
          <p>Street:{{currentUser.userStreet}} Number:{{currentUser.userStreetNumber}}</p>
          <p>City:{{currentUser.userCity}} Zip Code:{{currentUser.userPinCode}}</p>
          <p>Country:{{currentUser.userCountry}}</p>
          <p>Current Balance: {{currentUser.userBoolcoins}}</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Products to sell">
      <div>
        <mat-form-field>
          <input matInput placeholder="Product Name" [(ngModel)]="productTitle" name="productTitle" required>   
        </mat-form-field>
        <div>
          <label>Product Type </label>
          <div class="custom-control custom-radio">
            <input id="Product" type="radio" class="custom-control-input" value="product" name="productType" [(ngModel)]="productType">
            <label class="custom-control-label" for="product">Product </label>
          </div>
        </div>
        <div class="custom-control custom-radio">
          <input id="Service" type="radio" class="custom-control-input" value="service" name="productType" [(ngModel)]="productType"> 
          <label class="custom-control-label" for="service">Service </label>
        </div>
        <mat-form-field>
          <input matInput placeholder="Product Description" [(ngModel)]="productDescription" name="productDescription">
        </mat-form-field><br />
        <mat-form-field>
          <input matInput placeholder="Product Price" [(ngModel)]="productPrice" name="productPrice" pattern = "[0-9.]*" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Product Location" [(ngModel)]="productLocation" name="productLocation" required>
        </mat-form-field>
        <br />
        <mat-checkbox [(ngModel)]="deliveryPossible" name="deliveryPossible">
          delivery Possible
        </mat-checkbox>
        <br />
        <br />
        <button mat-flat-button color="primary" (click)="addProductToUser()">Add product</button>
      </div>
      <br />
      <h2>Current Products/Services you sell:</h2>
      <div *ngFor="let product of currentProducts">
        <mat-card>
          <h2>
            {{product.productTitle}}
          </h2>

          <p *ngIf="product.productDescription">
            Description: {{ product.productDescription }}
          </p>

          <p *ngIf="product.productLocation">
            Address: {{ product.productLocation }}
          </p>

          <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

          <p></p>

          <p *ngIf="product.productToLend == true; then thenBlock1 else elseBlock1"></p>
          <ng-template #thenBlock1> To Lend: This is a Product to lend </ng-template>
          <ng-template #elseBlock1> To buy: This is a Product to buy once </ng-template>

          <p></p>

          <p>
            Price: {{ product.productPrice | number: '1.2-2'}}CHF   <button mat-flat-button color="warn" (click)="deleteProduct(product)">Delete</button>
          </p>
        </mat-card>  
      </div>
      <div *ngIf="currentProducts.length === 0">You have not made any addvertisements.</div>
</mat-tab>
    <mat-tab label="Bought products">
      <div *ngFor="let product of boughtProducts">
        <mat-card>
          <h2>
            {{product.productTitle}}
          </h2>

          <p *ngIf="product.productDescription">
            Description: {{ product.productDescription }}
          </p>

          <p *ngIf="product.productLocation">
            Address: {{ product.productLocation }}
          </p>

          <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

          <p></p>

          <p *ngIf="product.productToLend == true; then thenBlock1 else elseBlock1"></p>
          <ng-template #thenBlock1> To Lend: This is a Product to lend </ng-template>
          <ng-template #elseBlock1> To buy: This is a Product to buy once </ng-template>

          <p></p>

          <p>
            Price: {{ product.productPrice | number: '1.2-2'}}CHF  
          </p>
      </mat-card>
      </div>
      <div *ngIf="boughtProducts.length === 0">You have not made any purchase.</div>
    </mat-tab>
    <mat-tab label="Sold products">
      <div *ngFor="let product of soldProducts">
        <mat-card>
          <h2>
            {{product.productTitle}}
          </h2>

          <p *ngIf="product.productDescription">
            Description: {{ product.productDescription }}
          </p>

          <p *ngIf="product.productLocation">
            Address: {{ product.productLocation }}
          </p>

          <p *ngIf="product.deliveryPossible == true; then thenBlock else elseBlock"></p>
            <ng-template #thenBlock> Delivery: Delivery per Post or per Person </ng-template>
            <ng-template #elseBlock> Delivery: Only to Pick up at the Address </ng-template>

          <p></p>

          <p *ngIf="product.productToLend == true; then thenBlock1 else elseBlock1"></p>
          <ng-template #thenBlock1> To Lend: This is a Product to lend </ng-template>
          <ng-template #elseBlock1> To buy: This is a Product to buy once </ng-template>

          <p></p>

          <p>
            Price: {{ product.productPrice | number: '1.2-2'}}CHF   
          </p>
      </mat-card>
      </div>
      <div *ngIf="soldProducts.length === 0">You have not sold any Items.</div>
    </mat-tab>
    <mat-tab label="Wish List"> 
      <div *ngFor="let product of favoriteProd">
        <h2>
          {{product.productTitle}}
        </h2>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>